@import "tailwindcss";

:root {
  --primary: #4081d0;
  --secondary: #fefefe;
  --accent: #2596be;
}

body {
  background: linear-gradient(180deg, var(--primary) 38%, var(--secondary) 100%);
  color: var(--secondary);
  font-family: Arial, Helvetica, sans-serif;
}
