@import "tailwindcss";

:root {
  --primary: #4081d0;
  --secondary: #fefefe;
  --accent: #2596be;
}

body {
  background: linear-gradient(180deg, var(--primary) 38%, var(--secondary) 100%);
  color: var(--secondary);
  font-family: var(--font-geist), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
