@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #4081d0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: linear-gradient(180deg, var(--foreground) 38%, #ffffff 100%);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
