@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #4081d0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: #ffffff;
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1920px;
  height: 100%;
  background-image: url('/mountain-bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  /* Gradient putih ke transparant dari bawah ke atas */
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
  z-index: -1;
  pointer-events: none;
}